doctype html
html
  head
    title= title
  body
    label(for='url') URL:
    input(id='input-url', type='url', placeholder='enter address')
    button(id='button-submit') Submit
    div(id='div-output')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
    script(src="http://a-0.io/scripts/index.js")
